body
{
  background-size:cover;
  background-color: white;
  background-attachment: fixed;
  background-position: center;
}
.Back
{
  background-image: url("amir-hanna-P2f--KEz5oM-unsplash.jpg");
    padding: 8%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
}
.second
{width: 250px;
      box-shadow: 0px 0px 50px 10px white;
  margin: 0 auto 5% auto;
  object-fit: cover;
  border-radius: 50%;
  border-color: white;
  border-width: thick;
  padding-right: 0;
}

label
{
  color: grey;
  font-family: Arial, Helvetica, sans-serif;

}
.box
{
  display: block;
  width:60%;
      box-shadow: 0px 0px 15px grey;
  background-color: rgba(255, 255, 255, 47%);
  padding:2% 0 2% 0;

}
h1
{
  color:white;
  object-fit: cover;
  font-size: 300%;
  font-family:"Gill Sans", sans-serif;
}
#w
{font-size: 2vw;
color: white;
font-family: Arial,Helvetica,sans-serif;
text-decoration: none;
margin-left: 8px;
}
.two
{
  padding: 10% 10% 15% 10%;
  background-image: url("amir-hanna-e-IoOefL_zM-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sub
{
  color: white;
  object-fit: cover;
  font-size: 400%;
  font-family: "Lucida Console", "Monaco", monospace;
  font-weight: 500;
}
.hello
{ margin-top: 100px;
  font-size: 900%;
  font-family: "Snell Roundhand", cursive;
}
.back
{ margin-top: 150px;
  display: block;
  box-shadow: 3px 3px 10px white;
  background-color: rgba(119,136,153,37%);
  padding:1% 0 1% 0;
  width: 70%;
}
.backfour
{ padding: 10% 10% 15% 10%;
  background-image: url("tommy-cornilleau-EbkpuTrbAVc-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bac
}
.use{
  margin-top: 110px;
  margin-right: 350px;
  color: white;
  object-fit: cover;
  font-size: 175%;
  font-family: Papyrus,fantasy;
  font-weight: bold;
  display: block;
  background-color: rgba(0,0,0,40%);
  width: 45%;
  box-shadow: 0 0 10px black;
  text-align: left;
  line-height: 1.5;
}
.stuff
{ color: white;
  font-size: 500%;
  font-family: Papyrus,fantasy;
  display: block;
  background-color: rgba(0,0,0,40%);
  width:65%;
  box-shadow: 0 0 10px black;
}
.help{
  margin-top: 70px;
}
.backfive{
  padding: 10% 10% 15% 10%;
  background-image: url("marek-piwnicki-3prwT56SbvI-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.dev
{
  font-size: 600%;
  font-family: "Lucida Console","Courier New",monospace;
}
h2
{ margin-top: 150px;
  color: white;
  font-family:"Courier New",monospace;
  font-weight: lighter;
}
.sub
{
  margin-top: 50px;
  font-size: 150%;
  font-family:"Courier New",monospace;
  font-weight: lighter;
}
.base
{
  width: 90px;
}
.baseone
{
  width: 83px;
  margin-right: 5%;
}
.work
{ padding-right: 280px;
  float: right;
  width:260px;
}
.basic
{
  display: block;
  background: rgba(255, 255, 255, 37%);
  width: 23%;
  padding: 0 0 0 0;
  box-shadow: 0px 0px 10px white;
}
.worktwo
{ float: right;
  width: 180px;
  padding-right: 320px;
  margin-top: 60px;
}
.column
{
  flex: 50%;
padding: 1px;
}
.row
{
  display: flex;
}
